@model stloumustdo.Models.LocalAttraction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LocalAttraction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttractionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttractionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Neighborhood)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Neighborhood)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttractionUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttractionUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
