@model stloumustdo.POCO.UserAttractionList;

@{
    ViewData["Title"] = "Index";
    var attractionList = Model.Attractions;
    var boolList = Model.HasAttraction.ToList();
    var i = 0;
}


<h1>Local Attractions</h1>

<div class="container d-flex flex-wrap">
 @foreach(var item in attractionList){


<div class="card" style="width: 18rem;">
  <img src="https://source.unsplash.com/collection/12141467/300x300/?@item.Id" class="card-img-top" alt="@item.AttractionName">
  <div class="card-body">
    <h5 class="card-title"> <a class="text-decoration-none" title="Website" target="_blank"  href=@item.AttractionUrl>@item.AttractionName</a></h5>
    <p class="card-text">@item.Neighborhood</p>
    @if(boolList[i] == false)
    {
        <a class="btn btn-primary" role="button" aria-pressed="true" asp-area="" asp-action="Add" asp-route-id="@item.Id">Add</a>
        }
        else
        {
        <p class="btn btn-secondary disabled">Added!</p>
        }
        @{
            i++;
        }
            </div>
</div>
 }

</div>



@*----------------------------------------------------------------------------------------------------*@

@*<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AttractionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Neighborhood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttractionUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AttractionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Neighborhood)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttractionUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            @if (User.Identity.IsAuthenticated)
                {
                    <td>

                <a asp-action="Add" asp-route-id="@item.Id">Add</a> |
@*              <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
@*            </td>
                }
        </tr>
}
    </tbody>
</table>*@
